code-03-02/flows-03-02.json
[
    {
        "id": "9b6f6d84223a0da9",
        "type": "tab",
        "label": "code-03-02",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "23c650620c9fea73",
        "type": "rpi-gpio in",
        "z": "9b6f6d84223a0da9",
        "name": "人感センサ",
        "pin": "27",
        "intype": "down",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 140,
        "y": 140,
        "wires": [
            [
                "36eb25d507148a23"
            ]
        ]
    },
    {
        "id": "36eb25d507148a23",
        "type": "switch",
        "z": "9b6f6d84223a0da9",
        "name": "人を検知した時のみ流す",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 370,
        "y": 140,
        "wires": [
            [
                "f562a4ef900e62bd"
            ]
        ]
    },
    {
        "id": "f562a4ef900e62bd",
        "type": "delay",
        "z": "9b6f6d84223a0da9",
        "name": "流量制限 (1msg/3sec)",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 640,
        "y": 140,
        "wires": [
            [
                "c06942980d51e122",
                "ce4b619b33ce9889"
            ]
        ]
    },
    {
        "id": "c06942980d51e122",
        "type": "rpi-gpio out",
        "z": "9b6f6d84223a0da9",
        "name": "LED ( red )",
        "pin": "18",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 870,
        "y": 140,
        "wires": []
    },
    {
        "id": "3832e4c515c263de",
        "type": "inject",
        "z": "9b6f6d84223a0da9",
        "name": "turn off every 5 sec",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 640,
        "y": 200,
        "wires": [
            [
                "c06942980d51e122"
            ]
        ]
    },
    {
        "id": "ce4b619b33ce9889",
        "type": "debug",
        "z": "9b6f6d84223a0da9",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 80,
        "wires": []
    },
    {
        "id": "d434d3b7224d1a5b",
        "type": "comment",
        "z": "9b6f6d84223a0da9",
        "name": "code-03-02",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "738fef890fc9afe2",
        "type": "comment",
        "z": "9b6f6d84223a0da9",
        "name": "手をかざすとLEDが点灯、一定時間後消灯",
        "info": "",
        "x": 400,
        "y": 40,
        "wires": []
    }
]