code-03-03/flows-03-03.json
[
    {
        "id": "b324c77eb4b06b91",
        "type": "tab",
        "label": "code-03-03",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "86c924104779bf9d",
        "type": "rpi-gpio in",
        "z": "b324c77eb4b06b91",
        "name": "人感センサ",
        "pin": "27",
        "intype": "down",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 120,
        "y": 140,
        "wires": [
            [
                "cbc13c423b71b9a8"
            ]
        ]
    },
    {
        "id": "cbc13c423b71b9a8",
        "type": "switch",
        "z": "b324c77eb4b06b91",
        "name": "人を検知した時のみ流す",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 350,
        "y": 140,
        "wires": [
            [
                "26c00c3b91e4bea2"
            ]
        ]
    },
    {
        "id": "26c00c3b91e4bea2",
        "type": "delay",
        "z": "b324c77eb4b06b91",
        "name": "流量制限 (1msg/3sec)",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 620,
        "y": 140,
        "wires": [
            [
                "5ab13bf1a32f6241"
            ]
        ]
    },
    {
        "id": "dd04ec7521eb1a8d",
        "type": "rpi-gpio out",
        "z": "b324c77eb4b06b91",
        "name": "LED ( red )",
        "pin": "18",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 950,
        "y": 300,
        "wires": []
    },
    {
        "id": "fd5fb06601cd5312",
        "type": "inject",
        "z": "b324c77eb4b06b91",
        "name": "turn off every 3 sec",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 480,
        "y": 340,
        "wires": [
            [
                "c641e1d0e5d38458"
            ]
        ]
    },
    {
        "id": "aaf23b40ac12d860",
        "type": "debug",
        "z": "b324c77eb4b06b91",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 220,
        "wires": []
    },
    {
        "id": "24dd94df3b907f82",
        "type": "comment",
        "z": "b324c77eb4b06b91",
        "name": "code-03-03",
        "info": "",
        "x": 110,
        "y": 60,
        "wires": []
    },
    {
        "id": "ed030ab719e1ed97",
        "type": "comment",
        "z": "b324c77eb4b06b91",
        "name": "手をかざすとシャッタが開く",
        "info": "",
        "x": 340,
        "y": 60,
        "wires": []
    },
    {
        "id": "5ab13bf1a32f6241",
        "type": "change",
        "z": "b324c77eb4b06b91",
        "name": "シャッタ：openControl:open",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"openControl\" : \"open\" }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 220,
        "wires": [
            [
                "49af38feb078f2b0"
            ]
        ]
    },
    {
        "id": "49af38feb078f2b0",
        "type": "http request",
        "z": "b324c77eb4b06b91",
        "name": "設定：シャッタ：openControl",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.10.100:8010/elapi/v1/devices/fe012345026301012345000000000000ff/properties/openControl",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 670,
        "y": 220,
        "wires": [
            [
                "7608854eaab08dd4",
                "aaf23b40ac12d860"
            ]
        ]
    },
    {
        "id": "7608854eaab08dd4",
        "type": "change",
        "z": "b324c77eb4b06b91",
        "name": "LED ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 280,
        "wires": [
            [
                "dd04ec7521eb1a8d"
            ]
        ]
    },
    {
        "id": "c641e1d0e5d38458",
        "type": "change",
        "z": "b324c77eb4b06b91",
        "name": "LED OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 340,
        "wires": [
            [
                "dd04ec7521eb1a8d"
            ]
        ]
    }
]