code-03-05/flows-03-05.json
[
    {
        "id": "09a2380055d15457",
        "type": "tab",
        "label": "code-03-05",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "83e7164cd09866ff",
        "type": "comment",
        "z": "09a2380055d15457",
        "name": "code-03-05",
        "info": "",
        "x": 110,
        "y": 60,
        "wires": []
    },
    {
        "id": "20a9fc356dd9a159",
        "type": "comment",
        "z": "09a2380055d15457",
        "name": "一度手をかざすとシャッタ開、もう一度手をかざすとシャッタ閉",
        "info": "",
        "x": 450,
        "y": 60,
        "wires": []
    },
    {
        "id": "63348fd866afb93e",
        "type": "inject",
        "z": "09a2380055d15457",
        "name": "システム初期化",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "fc5310988a68f685"
            ]
        ]
    },
    {
        "id": "fc5310988a68f685",
        "type": "change",
        "z": "09a2380055d15457",
        "name": "flowコンテキストにキー：on_off_flag を設定",
        "rules": [
            {
                "t": "set",
                "p": "on_off_flag",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "7cae8836ed5768d0",
        "type": "debug",
        "z": "09a2380055d15457",
        "name": "debug  03-04",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 480,
        "wires": []
    },
    {
        "id": "561ff7e6dba6bc8f",
        "type": "rpi-gpio in",
        "z": "09a2380055d15457",
        "name": "人感センサ",
        "pin": "27",
        "intype": "down",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 120,
        "y": 260,
        "wires": [
            [
                "53af87e8349f0f44"
            ]
        ]
    },
    {
        "id": "53af87e8349f0f44",
        "type": "switch",
        "z": "09a2380055d15457",
        "name": "人を検知した時のみ流す",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 350,
        "y": 260,
        "wires": [
            [
                "3d596ede47f3b4c5"
            ]
        ]
    },
    {
        "id": "3d596ede47f3b4c5",
        "type": "delay",
        "z": "09a2380055d15457",
        "name": "流量制限 (1msg/3sec)",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 620,
        "y": 260,
        "wires": [
            [
                "1c6c300567dc2521"
            ]
        ]
    },
    {
        "id": "394dc960452689cc",
        "type": "rpi-gpio out",
        "z": "09a2380055d15457",
        "name": "LED ( red )",
        "pin": "18",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 870,
        "y": 380,
        "wires": []
    },
    {
        "id": "8ca5df61ab2419b7",
        "type": "change",
        "z": "09a2380055d15457",
        "name": "LED ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 360,
        "wires": [
            [
                "394dc960452689cc"
            ]
        ]
    },
    {
        "id": "b084d715481cf7cd",
        "type": "change",
        "z": "09a2380055d15457",
        "name": "LED OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 420,
        "wires": [
            [
                "394dc960452689cc"
            ]
        ]
    },
    {
        "id": "1c6c300567dc2521",
        "type": "switch",
        "z": "09a2380055d15457",
        "name": "on_off_flagが0であるか",
        "property": "on_off_flag",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 190,
        "y": 380,
        "wires": [
            [
                "75fa5b1548d06000"
            ],
            [
                "1126a9227920d826"
            ],
            [
                "7cae8836ed5768d0"
            ]
        ]
    },
    {
        "id": "75fa5b1548d06000",
        "type": "change",
        "z": "09a2380055d15457",
        "name": "on_off_flag に 1を設定",
        "rules": [
            {
                "t": "set",
                "p": "on_off_flag",
                "pt": "flow",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 360,
        "wires": [
            [
                "8ca5df61ab2419b7",
                "07759a375504eef5"
            ]
        ]
    },
    {
        "id": "1126a9227920d826",
        "type": "change",
        "z": "09a2380055d15457",
        "name": "on_off_flag に 0を設定",
        "rules": [
            {
                "t": "set",
                "p": "on_off_flag",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 420,
        "wires": [
            [
                "b084d715481cf7cd",
                "5eac18b5bc45c154"
            ]
        ]
    },
    {
        "id": "04860de87d4fce10",
        "type": "comment",
        "z": "09a2380055d15457",
        "name": "flowコンテキスト：on_off_flag を設定、利用",
        "info": "",
        "x": 390,
        "y": 100,
        "wires": []
    },
    {
        "id": "bebad929f62ebd41",
        "type": "http request",
        "z": "09a2380055d15457",
        "name": "設定：シャッタ：openControl",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.10.100:8010/elapi/v1/devices/fe012345026301012345000000000000ff/properties/openControl",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1070,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "07759a375504eef5",
        "type": "change",
        "z": "09a2380055d15457",
        "name": "シャッタ：openControl:open",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"openControl\" : \"open\" }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 480,
        "wires": [
            [
                "bebad929f62ebd41"
            ]
        ]
    },
    {
        "id": "5eac18b5bc45c154",
        "type": "change",
        "z": "09a2380055d15457",
        "name": "シャッタ：openControl : close",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"openControl\" : \"close\" }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 540,
        "wires": [
            [
                "bebad929f62ebd41"
            ]
        ]
    }
]