code-02-05/flows-02-05.json
[
    {
        "id": "54f8a5267531f414",
        "type": "tab",
        "label": "code-02-05",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "96f71b7af9027e0d",
        "type": "mqtt out",
        "z": "54f8a5267531f414",
        "name": "",
        "topic": "set/house_000/aircon/properties",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a34c76b7c53b58a5",
        "x": 790,
        "y": 160,
        "wires": []
    },
    {
        "id": "3360c4c9d3aeecd7",
        "type": "inject",
        "z": "54f8a5267531f414",
        "name": "エアコンの電源ON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "b120fcaf7d8762f8"
            ]
        ]
    },
    {
        "id": "d6299870992631a5",
        "type": "mqtt in",
        "z": "54f8a5267531f414",
        "name": "",
        "topic": "set/house_000/aircon/properties",
        "qos": "2",
        "datatype": "json",
        "broker": "a34c76b7c53b58a5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 300,
        "wires": [
            [
                "634a8b7deb4fef04"
            ]
        ]
    },
    {
        "id": "fb06966676d552a9",
        "type": "debug",
        "z": "54f8a5267531f414",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 280,
        "wires": []
    },
    {
        "id": "b120fcaf7d8762f8",
        "type": "change",
        "z": "54f8a5267531f414",
        "name": "エアコン：operationStatus : true",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"operationStatus\":true}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 140,
        "wires": [
            [
                "96f71b7af9027e0d"
            ]
        ]
    },
    {
        "id": "d9740b4f63b88f23",
        "type": "comment",
        "z": "54f8a5267531f414",
        "name": "code-02-05",
        "info": "",
        "x": 170,
        "y": 60,
        "wires": []
    },
    {
        "id": "e7b5e460a3f04ef6",
        "type": "comment",
        "z": "54f8a5267531f414",
        "name": "MQTTによるエアコン遠隔操作 (broker : HIVEMQ)",
        "info": "",
        "x": 490,
        "y": 60,
        "wires": []
    },
    {
        "id": "634a8b7deb4fef04",
        "type": "switch",
        "z": "54f8a5267531f414",
        "name": "operationStatus",
        "property": "payload.operationStatus",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 500,
        "y": 300,
        "wires": [
            [
                "67cb93e774c07a1e",
                "b09762785791b2a4"
            ],
            [
                "c6a5d4f80c9d08b1",
                "731a0f35dee00f15"
            ],
            [
                "9e02bf8edd7055d0"
            ]
        ]
    },
    {
        "id": "67cb93e774c07a1e",
        "type": "change",
        "z": "54f8a5267531f414",
        "name": "文言：エアコンの電源ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "エアコンの電源を入れます",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 280,
        "wires": [
            [
                "fb06966676d552a9"
            ]
        ]
    },
    {
        "id": "c6a5d4f80c9d08b1",
        "type": "change",
        "z": "54f8a5267531f414",
        "name": "文言：エアコンの電源OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "エアコンの電源を切ります",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 340,
        "wires": [
            [
                "fb06966676d552a9"
            ]
        ]
    },
    {
        "id": "9e02bf8edd7055d0",
        "type": "change",
        "z": "54f8a5267531f414",
        "name": "文言：不明",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "属性が不明です",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 400,
        "wires": [
            [
                "fb06966676d552a9"
            ]
        ]
    },
    {
        "id": "293afdde31dd929d",
        "type": "inject",
        "z": "54f8a5267531f414",
        "name": "エアコンの電源OFF",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "7fa3836fa5d25667"
            ]
        ]
    },
    {
        "id": "7fa3836fa5d25667",
        "type": "change",
        "z": "54f8a5267531f414",
        "name": "エアコン：operationStatus : true",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"operationStatus\" : false}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 200,
        "wires": [
            [
                "96f71b7af9027e0d"
            ]
        ]
    },
    {
        "id": "f070a79b17526241",
        "type": "http request",
        "z": "54f8a5267531f414",
        "name": "設定：エアコン：operationStatus",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.10.100:8010/elapi/v1/devices/fe012345013001012345000000000000ff/properties/operationStatus",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 580,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "b09762785791b2a4",
        "type": "change",
        "z": "54f8a5267531f414",
        "name": "エアコン：operationStatus : true",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"operationStatus\" : true }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 500,
        "wires": [
            [
                "f070a79b17526241"
            ]
        ]
    },
    {
        "id": "731a0f35dee00f15",
        "type": "change",
        "z": "54f8a5267531f414",
        "name": "エアコン：operationStatus : false",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"operationStatus\" : false }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 560,
        "wires": [
            [
                "f070a79b17526241"
            ]
        ]
    },
    {
        "id": "a34c76b7c53b58a5",
        "type": "mqtt-broker",
        "name": "MQTT : hivemq",
        "broker": "broker.hivemq.com",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]