code-03-04/flows-03-04.json
[
    {
        "id": "0220f16fd0c2457d",
        "type": "tab",
        "label": "code-03-04",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b2601866e2ef72de",
        "type": "comment",
        "z": "0220f16fd0c2457d",
        "name": "code-03-04",
        "info": "",
        "x": 90,
        "y": 40,
        "wires": []
    },
    {
        "id": "8d1233dc70ddc0cc",
        "type": "comment",
        "z": "0220f16fd0c2457d",
        "name": "一度手をかざすとLEDが点灯、もう一度手をかざすと消灯",
        "info": "",
        "x": 410,
        "y": 40,
        "wires": []
    },
    {
        "id": "aa04de5a44164eac",
        "type": "inject",
        "z": "0220f16fd0c2457d",
        "name": "システム初期化",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "63641d250fc6cf05"
            ]
        ]
    },
    {
        "id": "63641d250fc6cf05",
        "type": "change",
        "z": "0220f16fd0c2457d",
        "name": "flowコンテキストにキー：on_off_flag を設定",
        "rules": [
            {
                "t": "set",
                "p": "on_off_flag",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "b7c7fe1d40ae50a7",
        "type": "debug",
        "z": "0220f16fd0c2457d",
        "name": "debug  03-04",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 460,
        "wires": []
    },
    {
        "id": "75c4148af28b7f63",
        "type": "rpi-gpio in",
        "z": "0220f16fd0c2457d",
        "name": "人感センサ",
        "pin": "27",
        "intype": "down",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 100,
        "y": 240,
        "wires": [
            [
                "afebbc2f0c7bd2c5"
            ]
        ]
    },
    {
        "id": "afebbc2f0c7bd2c5",
        "type": "switch",
        "z": "0220f16fd0c2457d",
        "name": "人を検知した時のみ流す",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 330,
        "y": 240,
        "wires": [
            [
                "aa8cea185853eb2a"
            ]
        ]
    },
    {
        "id": "aa8cea185853eb2a",
        "type": "delay",
        "z": "0220f16fd0c2457d",
        "name": "流量制限 (1msg/3sec)",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 600,
        "y": 240,
        "wires": [
            [
                "623afe7620807018"
            ]
        ]
    },
    {
        "id": "17431203ae202d3b",
        "type": "rpi-gpio out",
        "z": "0220f16fd0c2457d",
        "name": "LED ( red )",
        "pin": "18",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 830,
        "y": 360,
        "wires": []
    },
    {
        "id": "81ce082e81a34f1f",
        "type": "change",
        "z": "0220f16fd0c2457d",
        "name": "LED ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 340,
        "wires": [
            [
                "17431203ae202d3b"
            ]
        ]
    },
    {
        "id": "0516abdb3ddce883",
        "type": "change",
        "z": "0220f16fd0c2457d",
        "name": "LED OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 400,
        "wires": [
            [
                "17431203ae202d3b"
            ]
        ]
    },
    {
        "id": "623afe7620807018",
        "type": "switch",
        "z": "0220f16fd0c2457d",
        "name": "on_off_flagが0であるか",
        "property": "on_off_flag",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 170,
        "y": 360,
        "wires": [
            [
                "b3da439173f6e527"
            ],
            [
                "ddd098f5276f0245"
            ],
            [
                "b7c7fe1d40ae50a7"
            ]
        ]
    },
    {
        "id": "b3da439173f6e527",
        "type": "change",
        "z": "0220f16fd0c2457d",
        "name": "on_off_flag に 1を設定",
        "rules": [
            {
                "t": "set",
                "p": "on_off_flag",
                "pt": "flow",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 340,
        "wires": [
            [
                "81ce082e81a34f1f"
            ]
        ]
    },
    {
        "id": "ddd098f5276f0245",
        "type": "change",
        "z": "0220f16fd0c2457d",
        "name": "on_off_flag に 0を設定",
        "rules": [
            {
                "t": "set",
                "p": "on_off_flag",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 400,
        "wires": [
            [
                "0516abdb3ddce883"
            ]
        ]
    },
    {
        "id": "dbacf37101398eff",
        "type": "comment",
        "z": "0220f16fd0c2457d",
        "name": "flowコンテキスト：on_off_flag を設定、利用",
        "info": "",
        "x": 370,
        "y": 80,
        "wires": []
    }
]